.todo-container {
    display: flex;
    flex-direction: column;
    width: 17%;
    background: rgba(39, 43, 48, 0.889);
    border-radius: 5px;
    box-shadow: 0px 0px 105px -15px rgba(0, 0, 0, 1);
    color:ivory;
    position: absolute;
    right: 1%;
    bottom: 12%;
    z-index: 3;
    animation: todo 0.8s ease-out;
}

.todo-filters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px white solid;
}

.todo-filters p {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 7px;   
    cursor: pointer;
    transition: .4s;
    color:ivory;
    letter-spacing: 0.5px;
}

.todo-filters p:hover {
    scale:1.1;
    color: rgb(50,186,124);
}

.todo-filters p.active {
    color: rgb(50,186,124) !important;
    background: transparent!important;
}

.todo-content {
    margin-top: 4px;
    width: 100%;

}

.content-list li {
    list-style: none;
    text-align: start;
    margin: 5px 10px;
    font-size: 16px;
    width: 78%;
}

.check-class, .delete-class{
  display: none;
}


input[type='checkbox']+.complete-label{
  background: url('../../assets/misc/checkbox-green.svg') no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
  scale: 0.8;
  transition: 0.2s;

  opacity: 0.7;
  margin-top: -2px;
  position: absolute;
  right: 11%;
}

input[type='checkbox']+label:hover {
  scale: 1;
  opacity:1;
}

input[type='checkbox']+.delete-label{
  background: url('../../assets/misc/delete-circle-red.svg') no-repeat;
  width: 26px;
  height: 32px;
  cursor: pointer;
  scale:0.8;
  transition: 0.2s;
  opacity: 0.5;

  margin-top: -3px;
  position: absolute;
  right: 3%;
}


input[type='checkbox']+label:last-child:hover {
  scale: 1;
}

.todo-input:focus {
    border-bottom-color:#f28482;
    border-width: 2px;
    padding: 6px;
    height: 40px;
    font-size: 16px;
    width: 99%;

}
.todo-input:focus::placeholder {
    color: #fdfdfd;
  }

.todo-input {
    font-family: inherit;
    font-size: 13px;
    margin-top:5px;
    margin-left: 4px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(41, 46, 51);
    color: rgba(255, 255, 255, 0.658);
    height: 30px;
    letter-spacing: 0.5px;
    padding-left: 8px;
    transition: 0.5s ease;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}


/* Rounded checkbox below */
/* 
.checkbox-rounded{
    width: 1em;
    height: 1em;
    margin-right: 6px;
    background-color: ivory;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 0.8;

    margin-top: 8px;
    position: absolute;
    right: 14%;
  }

  .checkbox-rounded:hover {
    opacity: 1;
    background-color: rgb(50,186,124);
  } */

  /* input[class='checkbox-rounded']:checked {
    width: 1em;
    height: 1em;
    margin-right: 6px;
    background-color: rgb(50,186,124);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
  } */

  /* .checkbox-rounded-delete {
    margin-top: 8px;
    position: absolute;
    right: 3%;

    width: 1em;
    height: 1em;
    margin-right: 6px;
    background-color: rgb(204, 72, 72);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 0.8;
  }

  .checkbox-rounded-delete:hover {
    opacity: 1;
    background-color: rgb(204, 72, 72);

  } */
